@model IEnumerable<Roomy.Models.User>

@{
    ViewBag.Title = "List";
}

<h2>Les utilisateurs</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Date de naissance</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Lastname</td>
            <td>@item.Firstname</td>
            <td>@item.Email</td>
            @*<td>@item.BirthDate</td>*@
            <td>
                @if (item.BirthDate != null)
                {
                    @Html.DisplayFor(i => item.BirthDate);
                }
            </td>
        </tr>
    }

</table>

